<h1>People</h1>

<%= link_to 'Add Person', :new_person %>

<ul>
  <% @people.each do |person| %>
    <li>
      <span class="first"><%= person.first %></span>
      <span class="last"><%= person.last %></span>
      <%= link_to "Show", person %>
      <%= link_to "Edit", [:edit, person] %>
      <%= link_to "Delete", person, method: :delete %>
    </li>
  <% end %>
</ul>
