<!DOCTYPE html>
<html>
<head>
  <title>Cruddy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <ul class="nav">
      <li><%= link_to 'Home', :root %></li>
      <li><%= link_to 'Horses', :horses %></li>
      <li><%= link_to 'Products', :products %></li>
      <li><%= link_to 'People', :people  %></li>
    </ul>

    <%= yield %>
  </body>
</html>
